<h2>כניסה</h2>
<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="username">שם משתמש*</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">לא הקלדת שם משתמש</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">סיסמא*</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">זהו שדה חובה</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="!loginForm.valid" class="btn btn-primary" (click)="login()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            היכנס
        </button>
        <a routerLink="/register" class="btn btn-link">הרשמה</a>
    </div>
</form>