<h1>שלום {{userName}} המשימות שלך הן:</h1>
<table dir="rtl">
    <tr>
        <td>תיאור</td>
        <td></td>
        <td>כותרת</td>
        <td></td>
        <td>סטטוס</td>
    </tr>

    <tr *ngFor="let t of tasks">
        <td>{{t.descreption}}</td>
        <td></td>
         <td>{{t.title}}</td> 
        <td></td>
         <td>{{t.done?"✔":"✖"}}</td>
        <td><button [disabled]="t.done" (click)="doTask(t)">סמן כנעשה</button></td> 
    </tr>
</table>


<form [formGroup]="tasksFrm">
    <div class="form-group"><br>
        <h3>:להוספת משימה</h3>
        <label for="title">כותרת*</label>
        <input type="text" formControlName="title" class="form-control"/>
        </div>
    <div class="form-group">
        <label for="descreption">תיאור</label>
        <input type="text" formControlName="descreption" class="form-control" />
    </div>
    <button  icon="pi pi-check"
    class="p-button-text" type="submit" (click)="addTask()" [disabled]="!this.tasksFrm.valid">הוסף משימה</button>
</form>
