<!-- <h1>Hi {{currentUser.userName}}!</h1> -->
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.userName}}
    </li>
</ul>
