<h2>הירשם</h2>
<form [formGroup]="registerForm">

    <div class="form-group">
        <label for="username">שם משתמש*</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">סיסמא</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="register()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            הרשמה
        </button>
    </div>
</form>

